.btn-wrap {
  flex-direction: column;
  align-items: flex-start
}

.product-ratting {
  ::v-deep .v-btn {
    height: auto;
    padding: 0;
    @include palette-text-primary
  }
  ::v-deep .v-btn__content {
    display: block;
  }
  @include breakpoints-down(xs) {
    margin-bottom: $spacing5
  }
  .figure {
    overflow: hidden;
    margin: 0;
    display: block;
    position: relative;
    height: 240px;
    @include breakpoints-down(xs) {
      height: 320px
    }
    @include breakpoints-up(lg) {
      height: 320px
    }
    img {
      transition: all 0.3s;
      min-height: 100%;
      transform: translateX(-10px);
      width: 105%
    }
    .figcaption {
      display: block;
      top: 16px;
      @include left(16px);
      background: $palette-primary-dark;
      text-align: center;
      color: $palette-common-white;
      padding: spacing(0.75, 1.5)
    }
  }
  strong {
    font-weight: $font-bold
  }
  &:hover {
    img {
      transform: translateX(0px)
    }
  }
  .text {
    display: block;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.33;
    text-transform: none;
  }
}
.ratting {
  display: block;
  padding: spacing(1.5, 0)
}
.star-icon {
  color: $palette-primary-main !important;
}
.category {
  @include text-align(left);
  position: relative;
  display: flex;
  padding: spacing(0, 3);
  align-items: center;
  background: $palette-primary-dark;
  text-transform: capitalize;
  &:before {
    @include left(0);
    transition: all 0.3s ease-out;
    content: "";
    position: absolute;
    top: 0;
    width: 20%;
    height: 100%;
    opacity: 0;
    background: rgba(0, 0, 0, 0.06)
  }
  &:hover {
    &:before {
      opacity: 1;
      width: 100%
    }
  }
}
.property {
  @include padding-left($spacing3);
  flex: 1;
  color: rgba(0, 0, 0, 0.87);
  display: block;
  font-weight: $font-regular;
  span {
    white-space: normal;
  }
  .title-main {
    text-transform: capitalize;
    display: block;
    font-family: Roboto Condensed;
    @include text-align(left);
    line-height: normal
  }
  .total {
    @include text-align(left);
    display: block
  }
  .button {
    margin-top: $spacing3
  }
}
.button-base {
  margin-bottom: 12px;
  width: 100%
}
.full {
  height: 170px !important;
  img {
    max-width: 50%;
    max-height: 130px;
    height: auto
  }
  ::v-deep .v-btn__content {
    position: absolute;
    padding: spacing(0, 3);
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
  }
}

.top-over {
  margin-bottom: 12px;
  height: auto;
  ::v-deep .v-btn__content {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
  }
  @include breakpoints-up(md) {
    margin-top: 50px;
    height: 230px;
  }
  @include breakpoints-down(sm) {
    align-items: flex-start
  }
  .property {
    @include breakpoints-down(sm) {
      margin-top: $spacing6
    }
  }
  img {
    max-width: 50%;
    margin-top: 14px;
    @include breakpoints-up(lg) {
      margin-top: -60px;
      height: 290px
    }
  }
}

.bottom-over {
  margin-bottom: 12px;
  height: auto;
  @include breakpoints-up(md) {
    height: 230px
  }
  @include breakpoints-down(sm) {
    align-items: flex-start
  }
  img {
    max-width: 50%;
    padding: $spacing1;
    @include breakpoints-up(lg) {
      height: 460px
    }
    @include breakpoints-up(md) {
      margin-top: 270px;
    }
  }
  .property {
    @include breakpoints-down(sm) {
      margin-top: $spacing6
    }
  }
}

.simple-thumb {
  text-align: center;
  width: 150px;
  height: 210px !important;
  padding: spacing(2, 1);
  transition: all 0.35s ease-out;
  margin: $spacing1 auto;
  .wrap {
    display: block;
  }
  .text {
    display: block;
    font-size: 16px;
    text-transform: none;
    font-weight: $font-regular;
    margin-bottom: 0;
    line-height: 1.5;
    @include palette-text-primary
  }
  .figure {
    display: block;
    height: 120px;
    margin: spacing(0, 1, 2);
    text-align: center;
    img {
      display: block;
      max-height: 100%;
      margin: 0 auto
    }
  }
  strong {
    font-weight: $font-bold
  }
  .price {
    display: block
  }
  &:hover {
    @include use-theme(background, $palette-primary-light, $palette-primary-dark);
    @include shadow5
  }
}