<template>
  <div class="product-ratting">
    <v-btn
      class="btn-wrap"
      text
      @click.prevent="detail(shoe)"
    >
      <span class="figure">
        <img :src="shoe.file" alt="text" />
        <span class="figcaption">Sale</span>
      </span>
      <span class="ratting">
        <v-icon
          v-for="index in ratting"
          :key="index"
          class="star-icon"
        >
          mdi-star
        </v-icon>
      </span>
      <p class="text">
        {{ shoe.describe }}
      </p>
      <span class="use-text-subtitle2">
        <strong>
          ${{ shoe.price }}
        </strong>
      </span>
    </v-btn>
  </div>
</template>

<style lang="scss" scoped>
@import './card-style';
</style>

<script>
import link from '~/static/text/link'

export default {
  props: {
    shoe: {
      required: true
    },
    ratting: {
      type: Number,
      required: true
    }
  },
  methods: {
    detail(shoe) {
      this.$router.push('/shoes/' + shoe.id)
    }
  }
}
</script>
