<template>
  <v-btn
    text
    class="simple-thumb"
    @click.prevent="detail(item, type)"
  >
    <span class="wrap">
      <span class="figure">
        <img :src="item.file" alt="title" />
      </span>
      <span class="text">{{ item.describe }}</span>
      <span class="price">
        <strong>${{ item.price }}</strong>
      </span>
    </span>
  </v-btn>
</template>

<style lang="scss" scoped>
@import './card-style.scss';
</style>

<script>
import link from '~/static/text/link'

export default {
  props: {
    type: {
      required: true
    },
    item: {
      required: true
    }
  },
  methods: {
    detail(item, type) {
      this.$router.push('/'+ type + '/' + item.id)
    }
  }
}
</script>
