<template>
  <div class="root">
    <title-main align="center" primary="Featured" secondary="Products" />
    <div class="carousel-wrap">
      <v-btn class="nav prev" @click="slickPrev">
        <v-icon>mdi-arrow-left</v-icon>
      </v-btn>
      <v-btn class="nav next" @click="slickNext">
        <v-icon>mdi-arrow-right</v-icon>
      </v-btn>
      <div v-if="loaded">
        <slick
          ref="slider"
          :options="slickOptions"
        >
          <div
            v-for="shoe in shoes"
            :key="shoe.id"
            class="shoe"
          >
            <simple-thumb-card
              type="shoes"
              :item="shoe"
            />
          </div>
          <div
            v-for="bag in bags"
            :key="bag.id"
            class="bag"
          >
            <simple-thumb-card
              type="bags"
              :item="bag"
            />
          </div>
        </slick>
      </div>
    </div>
  </div>
</template>

<style lang="scss" scoped>
@import './featured-style.scss';
</style>

<script>
import imgAPI from '~/static/images/imgAPI';
import Title from '../Title';
import SimpleThumbCard from '../Cards/SimpleThumb';

export default {
  props: {
    shoes: {
      required: true
    },
    bags: {
      required: true
    }
  },
  components: {
    'title-main': Title,
    SimpleThumbCard,
    Slick: () => import('vue-slick')
  },
  data() {
    return {
      loaded: false,
      slickOptions: {
        dots: true,
        speed: 500,
        slidesToShow: 6,
        arrows: false,
        slidesToScroll: 3,
        autoplay: true,
        autoplaySpeed: 7000,
        responsive: [{
          breakpoint: 1024,
          settings: {
            slidesToShow: 4,
            slidesToScroll: 3,
            infinite: true,
            dots: true
          }
        }, {
          breakpoint: 600,
          settings: {
            slidesToShow: 2,
            slidesToScroll: 2
          }
        }]
      }
    }
  },
  mounted() {
    this.loaded = true
  },
  methods: {
    slickNext() {
      this.$refs.slider.next()
    },
    slickPrev() {
      this.$refs.slider.prev()
    }
  }
}
</script>
